@import url(http://fonts.googleapis.com/css?family=Montserrat);

.titulo {
  font-family:"Montserrat"; 
  font-size:20px; 
  text-align:center; 
  color:#999;
}
.barras {
  width:100%; 
  margin:0 auto;
}
.barra {
background:#d7d7d7;
border:1px solid #f4f4f4;
  width:100%; 
  height:25px; 
  background:#; 
  margin:0px;
}
.barra-nivel {
  height:23px; 
  background:#00aeff; 
  width:1px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.valor-nivel {
  line-height:30px; 
  color:#fff; 
  margin-left:10px; 
  font-family:"Montserrat"; 
  font-size:12px;
}