@font-face {
    font-family: 'MyriadProSemibold';
    src: url('myriadprosemibold.eot');
    src: url('myriadprosemibold.eot') format('embedded-opentype'),
         url('myriadprosemibold.woff') format('woff'),
         url('myriadprosemibold.ttf') format('truetype'),
         url('myriadprosemibold.svg#MyriadProSemibold') format('svg');
}
